*{ font-size: 50px;}
body{
    display: flex;
    height: 100vh;
    place-items: center ;
    justify-content: center;
    color: blueviolet;
}
h1{
    display: inline;
    margin: 10px;
}
body:before {
    content: 'Hola';
    color: cornflowerblue;
}
body:after {
    content: ' bienvenido al Frontend';
    color: blue;
}